/***************************************************              GENERAL RESET STYLES             ***************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
* {box-sizing: border-box;}
body {line-height:1;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {list-style:none;}
ol, ul {
	list-style: none;
	margin:0;
	padding:0;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
		text-decoration:none;
}
a:hover {text-decoration:none;}
table {
    border-collapse:collapse;
    border-spacing:0;
}
img {
	border-style:none;
	max-width:100%;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
input, textarea, select {
	vertical-align:middle;
	color:#000;
	padding:0;
}
input, select {vertical-align:middle;}
input::-webkit-input-placeholder{color:#000;}
input:focus::-webkit-input-placeholder{color:#000;}
/*
@media (min-width: 1921px){}
@media (width: 1920px){}
@media (min-width: 1440px) and (max-width: 1919px) {}
@media (min-width: 1360px) and (max-width: 1439px) {}
@media (min-width: 1280px) and (max-width: 1359px) {}
@media (min-width: 1024px) and (max-width: 1279px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 375px) and (max-width: 767px) {}
@media (min-width: 320px) and (max-width: 374px) {}
*/
/*
@media (max-width: 1919px) {}
@media (max-width: 1439px) {}
@media (max-width: 1279px) {}
@media (max-width: 767px) {}
*/
#wrapper {
	display:block;
	position:relative;
	width:100%;
	height:100%;
}
.layout {
  display: block;
  position:relative;
  overflow: hidden;
  max-width:1400px;
  width: 100%;
	margin:0 auto 0 auto;
}
header,
main,
footer,
section {
  display: block;
  position:relative;
  overflow: hidden;
  width: 100%;
}
#content {
  display: block;
  position:relative;
  overflow: hidden;
  width: 100%;
}




header{
  width: 100%;
  height: 72px;
  margin: 20px 0 20px 0;
}
header .layout .header_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .layout .header_container .logo{
  width: 140px;
  height: 70px;
}
header .layout .header_container .logo a img{
  width: 100%;
  height: 100%;
}
header .layout .header_container .logo h1{
  text-indent: -9999px;
}
header .layout .header_container nav ul{
  display: flex;
  gap: 30px;
}
header .layout .header_container nav ul li a,
header .layout .header_container  .tel_button a{
  font-family: "Montserrat", sans-serif;
  color: #301e67;
  font-size: 16px;
  font-weight: 400;
}
header .layout .header_container .tel_button .nav_btn{
  width: 250px;
  height: 40px;
  border-radius: 20px;
  background-color: #f7c500;
  line-height: 40px;
  text-align: center;
  transition: 0.3s;
  color: #1f1f1f;
}
header .layout .header_container  .tel_button a{
  font-weight: 600;
}
header .layout .header_container nav ul li a:hover,
header .layout .header_container  .tel_button a:hover{
  text-decoration: underline;
  color: #333399;
}
header .layout .header_container .tel_button .nav_btn:hover{
  box-shadow: 0 10px 8px rgba(9, 24, 245, 0.2);
  transform: translateY(-8px);
  text-decoration: none;
}
header .layout .header_container  .tel_button{
  display: flex;
  align-items: center;
  gap: 50px;
}

@media (max-width: 1279px) {
  header .layout{
    width: 96%;
  }
  header .layout .header_container{
    justify-content: space-between;
  }
  header .layout .header_container .logo{
  width: 120px;
  height: 60px;
}
  header .layout .header_container nav ul{
  gap: 15px;
}
header .layout .header_container  .tel_button{
  flex-direction: column;
  gap: 15px;
}
header .layout .header_container .tel_button .nav_btn{
  width: 220px;
}
}

@media (max-width: 767px) {
  header{
  margin: 10px 0 10px 0;
}
header .layout .header_container nav{
  display: none;
}
header .layout .header_container  .tel_button{
  display: none;
}
}


main .first-view{
  background-color: #f1f3f8;
}
main .first-view .layout .container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
  grid-template-areas: "text img";
}
main .first-view  .layout .container .baner{
  width: 700px;
  height: 520px;
}
main .first-view  .layout .container .baner img{
  height: 100%;
  grid-area: img;
  object-fit: cover;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  position: absolute;
}
main .first-view  .layout .container .baner span{
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  width: 190px;
  color: #FFF;
  background-color: rgba(48, 30, 103, 0.7);
  border-radius: 10px;
  position: sticky;
  top: 84%;
  left: 80%;
}
main .first-view .layout .container .text{
  display: flex;
  flex-direction: column;
  grid-area: text;
  gap: 30px;
  margin: 30px 0 0 0;
}
main .first-view .layout .container .text span,
main .first-view .layout .container .text h2,
main .first-view .layout .container .text p,
main .first-view .layout .container .text h3,
main .first-view .layout .container .text .btn a{
  font-family: "Montserrat", sans-serif;
  color: #301e67;
}
main .first-view .layout .container .text h2{
  font-size: 38px;
  font-weight: 700;
  width: 250px;
}
main .first-view .layout .container .text h3{
   font-size: 20px;
   font-weight: 600;
   width: 800px;
}
main .first-view .layout .container .text span,
main .first-view .layout .container .text p{
  font-size: 16px;
  font-weight: 400;
}
main .first-view .layout .container .text .btn{
  display: flex;
  gap: 40px;
  margin: 80px 0 0 0;
}
main .first-view .layout .container .text .btn a{
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  width: 250px;
  height: 50px;
  border: 2px solid #301e67;
  line-height: 50px;
  text-align: center;
  border-radius: 8px;
  transition: .3s;
}
main .first-view .layout .container .text .btn .base{
  width: 250px;
  height: 50px;
  border-radius: 8px;
  background-color: #f7c500;
  border: 2px solid #f7c500;
  line-height: 50px;
  text-align: center;
  color: #1f1f1f;
}
main .first-view .layout .container .text .btn a:hover{
  box-shadow: 0 10px 8px rgba(9, 24, 245, 0.2);
  transform: translateY(-8px);
}

@media (max-width: 1279px) {
  main .first-view .layout{
    width: 96%;
  }
  main .first-view .layout .baner{
    width: 100%;
    height: 450px;
  }
   main .first-view .layout .container .baner img{
    width: 100%;
  }

  main .first-view .layout .container .text{
    margin: 20px 0 0 20px;
  }
  main .first-view .layout .container .text .btn{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px 0 0 0;
}
}

/* @media (min-width: 768px) and (max-width: 1023px) {
   main .first-view  .layout .container .baner span{
    top: 85%;
    left: 38%;
  }
} */


@media (max-width: 767px){
  main .first-view .layout .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .first-view  .layout .container .baner{
  width: 100%;
  height: 420px;
}
main .first-view  .layout .container .baner img{
  clip-path: none;
    position: relative;
}
main .first-view  .layout .container .baner span{
  display: none;
}
main .first-view .layout .container .text{
  margin: 20px 0 20px 0;
}
main .first-view .layout .container .text .btn{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 0 0 0;
}
main .first-view .layout .container .text h2{
  font-size: 26px;
}
main .first-view .layout .container .text h3{
   font-size: 18px;
}
}



main .catalog{
  padding: 30px 0 50px 0;
}
main .catalog .layout{
  width: 100%;
}
main .catalog .layout span,
main .catalog .layout p,
main .catalog .layout h2,
main .catalog .layout h3,
main .catalog .layout .catalog_box .catalog_card h4,
main .catalog .layout .catalog_box .catalog_card p,
main .catalog .layout .catalog_box .catalog_card span,
main .catalog .layout .catalog_box .catalog_card a{
  font-family: "Montserrat", sans-serif;
  color: #301e67;
  text-align: center;
}
main .catalog .layout span{
  display: block;
}
main .catalog .layout h2{
  font-size: 32px;
  font-weight: 700;
  margin: 20px 0 30px 0;
}
main .catalog .layout h3{
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 50px 0;
}
main .catalog .layout .catalog_box{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  max-width: 1600px;
  width: 100%;
}
main .catalog .layout .catalog_box .catalog_card{
  max-width: 300px;
  width: 100%;
  background-color: #f1f3f8;
  box-shadow: 0 0 10px rgba(9, 24, 245, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 15px 10px 15px 10px;
  margin: 0 0 15px 0;
}
main .catalog .layout .catalog_box .catalog_card .catalog_img{
  width: 100px;
  height: 100px;
}
main .catalog .layout .catalog_box .catalog_card .catalog_img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
main .catalog .layout .catalog_box .catalog_card h4{
  font-size: 18px;
  font-weight: 600;
}
main .catalog .layout span,
main .catalog .layout p,
main .catalog .layout .catalog_box .catalog_card p,
main .catalog .layout .catalog_box .catalog_card a{
  font-size: 16px;
  font-weight: 400;
}
main .catalog .layout .catalog_box .catalog_card span{
  font-size: 16px;
  font-weight: 600;
}
main .catalog .layout .catalog_box .catalog_card a{
  width: 150px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #301e67;
  margin: 10px 0 0 0;
  transition: .3s;
}
main .catalog .layout .catalog_box .catalog_card a:hover{
  box-shadow: 0 5px 8px rgba(9, 24, 245, 0.2);
  transform: translateY(-8px);
}

@media (max-width: 1279px){
  main .catalog .layout .catalog_box{
  grid-template-columns: repeat(2,1fr);
  gap: 15px;

}
}

@media (max-width: 767px){
  main .catalog .layout{
    width: 96%;
  }
  main .catalog .layout h2{
  font-size: 26px;
  margin: 15px 0 20px 0;
}
main .catalog .layout h3{
  font-size: 18px;
  margin: 0 0 40px 0;
}
main .catalog .layout .catalog_box{
  grid-template-columns: 1fr;
  gap: 15px;
}
}


main .advantages{
  background-color: #f1f3f8;
  padding: 40px 0 40px 0;
}
main .advantages span,
main .advantages h2,
main .advantages h3,
main .advantages p{
  font-family: "Montserrat", sans-serif;
  color: #301e67;
  text-align: center;
}
main .advantages span{
  display: block;
}
main .advantages h2{
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 20px 0;
}
main .advantages h3{
  font-size: 20px;
   font-weight: 600;
  margin: 0 0 40px 0;
}
main .advantages span,
main .advantages p{
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 20px 0;
}
main .advantages .advantages_container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  max-width: 1165px;
  width: 100%;
  margin: 0 auto;
  gap: 15px;
}
main .advantages .advantages_container .advantages_block{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 250px;
  padding: 10px;
  margin: 0 0 10px 0;
}
main .advantages .advantages_container .advantages_block .block_img{
  width: 70px;
  height: 70px;
}
main .advantages .advantages_container .advantages_block .block_img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
main .advantages .advantages_container .advantages_block h3{
  font-weight: 600;
  margin: 0 0 20px 0;
}

main .advantages .advantages_container .advantages_block p{
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  text-align: start;
  margin: 0 0 0 0;

}

@media (max-width: 1279px){
  main .advantages .advantages_container{
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
}
}

@media (max-width: 767px){
  main .advantages .layout{
    width: 96%;
  }
    main .advantages h2{
  font-size: 26px;
  margin: 0 0 20px 0;
}
main .advantages h3{
  font-size: 18px;
  margin: 0 0 0 0;
}
main .advantages .advantages_container{
  grid-template-columns: 1fr;
  gap: 10px;
}
main .advantages .advantages_container .advantages_block{
  flex-direction: row;
  max-width: 280px;
  padding: 0;
  margin: 0 0 0 0;
  gap: 10px;
}
main .advantages .advantages_container .advantages_block h3{
  margin: 10px 0 0 10px;
}
main .advantages .advantages_container .advantages_block p{
  display: none;
}
main .advantages .advantages_container .advantages_block .block_img{
  width: 35px;
  height: 35px;
}
}


main .how_it_works{
  padding: 40px 0 40px 0;
}
main .how_it_works span,
main .how_it_works h2,
main .how_it_works h3,
main .how_it_works p{
  font-family: "Montserrat", sans-serif;
  color: #301e67;
}
main .how_it_works span{
  display: block;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
main .how_it_works h2,
main .how_it_works p{
  text-align: center;
}
main .how_it_works h2{
  font-size: 32px;
  font-weight: 700;
  margin: 20px 0 50px 0;
}
main .how_it_works .how_it_works_container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  max-width: 1165px;
  width: 100%;
  margin: 0 auto;
  gap: 15px
}
main .how_it_works .how_it_works_container .how_it_works_block{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 0 15px 0;
  width: 200px;
  position: relative;
}
main .how_it_works .how_it_works_container .how_it_works_block::before{
  display: block;
  content: "\27F6";
  font-size: 50px;
  position: absolute;
  left: 60%;
  top: -3%;
  width: 600px;
  color: rgba(104, 104, 104, 0.3);;
}
main .how_it_works .how_it_works_container .how_it_works_block:last-child::before{
  content: "";
}
main .how_it_works .how_it_works_container .how_it_works_block h3{
  font-size: 20px;
   font-weight: 600;
  margin: 0 0 20px 0;
}
main .how_it_works .how_it_works_container .how_it_works_block span{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  border-radius: 48px;
  background-color: #301e67;
  color: #fff;
  padding: 10px;
  margin: 0 0 15px 0;
}
main .how_it_works .how_it_works_container .how_it_works_block p{
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 40px 0;
  text-align: start;
}

@media (max-width: 1279px){
  main .how_it_works .layout{
    width: 94%;
  }
  main .how_it_works .how_it_works_container{
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
  margin: 0 0 15px 0;
}
main .how_it_works .how_it_works_container .how_it_works_block{
  max-width: 400px;
}
main .how_it_works .how_it_works_container .how_it_works_block::before{
  display: none;
}
}

@media (max-width: 767px){
  main .how_it_works span{
  margin: 0 0 15px 0;
}
    main .how_it_works h2{
  font-size: 26px;
  margin: 0 0 40px 0;
}
main .how_it_works h3{
  font-size: 18px;
  margin: 0 0 40px 0;
}
main .how_it_works .how_it_works_container{
  grid-template-columns: 1fr;
  gap: 10px;
}
main .how_it_works .how_it_works_container .how_it_works_block p{
  display: none;
}
main .how_it_works .how_it_works_container .how_it_works_block{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin: 0 0 0 0;
  max-width: 300px;
  width: 100%;
}
main .how_it_works .how_it_works_container .how_it_works_block::before{
  display: none;
}
}


main .about_the_company{
  padding: 30px 0 30px 0;
  background-color: #f1f3f8;
}
main .about_the_company .about_container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  grid-template-areas: "image text title";
  gap: 20px;
}
main .about_the_company .about_container .about_img{
  width: 400px;
  height: 400px;
  grid-area: image;
}
main .about_the_company .about_container .about_img img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .about_the_company h2,
main .about_the_company h3,
main .about_the_company p,
main .about_the_company a,
main .about_the_company span{
  font-family: "Montserrat", sans-serif;
  color: #301e67;
}
main .about_the_company p,
main .about_the_company a,
main .about_the_company span{
  display: block;
  font-size: 16px;
  font-weight: 400;
}
main .about_the_company .about_container .about_title{
  display: flex;
  flex-direction: column;
  gap: 30px;
  grid-area: text;
}
main .about_the_company .about_container .about_title h2{
  font-size: 32px;
  font-weight: 700;
}
main .about_the_company .about_container .about_title a{
  font-size: 16px;
  font-weight: 500;
  width: 200px;
  height: 40px;
  color: #1f1f1f;
  line-height: 40px;
  text-align: center;
  background-color: #f7c500;
  border-radius: 10px;
  transition: .3s;
}
main .about_the_company .about_container .about_title a:hover{
  box-shadow: 0 5px 8px rgba(9, 24, 245, 0.2);
  transform: translateY(-8px);
}
main .about_the_company .about_container .title_block{
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(48, 30, 103, 0.4);
  border-radius: 10px;
  padding: 15px;
  height: 300px;
  margin: 10px 0 0 0;
  grid-area: title;
}
main .about_the_company .about_container .title_block span{
  font-size: 30px;
  font-weight: 500;
  margin: 0 0 5px 0;
}
main .about_the_company .about_container .title_block p{
  margin: 0 0 20px 0;
}

@media (max-width: 1279px){
  main .about_the_company .layout{
    width: 96%;
  }
  main .about_the_company .about_container{
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  gap: 0;
  row-gap: 20px; 
  grid-template-areas:
    "image title"
    "text text";
}
main .about_the_company .about_container .about_img{
  width: 100%;
  height: 300px;
}

}


@media (max-width: 767px){
  main .about_the_company .about_container{
  grid-template-columns: 1fr;
}

main .about_the_company .about_container .about_title h2{
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
main .about_the_company .about_container .about_title a{
  width: 170px;
  margin: 0 auto;
}
main .about_the_company .about_container .title_block{
  display: none;
}
main .about_the_company p,
main .about_the_company span,
main .about_the_company .about_container .title_block p,
main .about_the_company .about_container .title_block span{
  display: none;
}
}


main .cost_calc{
  margin: 30px 0 30px 0;
}
main .cost_calc .calc_container{
  display: grid;
  grid-template-columns: 1fr 450px;
  justify-content: center;
  gap: 20px;
}
main .cost_calc .calc_container .calc_form span,
main .cost_calc .calc_container .calc_form h2,
main .cost_calc .calc_container .calc_form p,
main .cost_calc .calc_container .calc_form form label,
main .cost_calc .calc_container .calc_form form input,
main .cost_calc .calc_container .calc_form select:optional,
main .cost_calc .calc_container .calc_form form textarea,
main .cost_calc .calc_container .calc_form form button{
  font-family: "Montserrat", sans-serif;
  color: #301e67;
}
main .cost_calc .calc_container .calc_form span{
  display: block;
}
main .cost_calc .calc_container .calc_form h2{
  font-size: 32px;
  font-weight: 700;
}
main .cost_calc .calc_container .calc_form span,
main .cost_calc .calc_container .calc_form p{
  font-size: 16px;
  font-weight: 400;
}
main .cost_calc .calc_container .calc_form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main .cost_calc .calc_container .calc_form .form_box{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px 0 0 0;
}
main .cost_calc .calc_container .calc_form .form_box .form_row{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
main .cost_calc .calc_container .calc_form .form_box .form_row:nth-child(2){
  grid-template-columns: 1fr 1fr;
}
main .cost_calc .calc_container .calc_form .form_box .form_row .form_group{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .cost_calc .calc_container .calc_form form label{
  font-size: 16px;
  font-weight: 400;
}
main .cost_calc .calc_container .calc_form input,
main .cost_calc .calc_container .calc_form select,
main .cost_calc .calc_container .calc_form textarea{
  font-size: 16px;
  font-weight: 400;
  padding: 3px;
  border: 1px solid #301e67;
  border-radius: 5px;
  width: 100%;
  height: 40px;
}

main .cost_calc .calc_container .calc_form select{
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
main .cost_calc .calc_container .calc_form textarea{
  padding: 5px;
  height: 80px;
}
main .cost_calc .calc_container .calc_form textarea:placeholder-shown{
  font-size: 14px;
  font-weight: 400;
}
main .cost_calc .calc_container .calc_form button{
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  width: 300px;
  height: 40px;
  color: #1f1f1f;
  background-color: #f7c500;
  border: 1px solid #f7c500;
  line-height: 40px;
  text-align: center;
  border-radius: 8px;
  margin: 30px 0 10px 5px;
  transition: .3s;
}
main .cost_calc .calc_container .calc_form button:hover{
  box-shadow: 0 10px 8px rgba(9, 24, 245, 0.2);
  transform: translateY(-8px);
}
main .cost_calc .calc_container .calc_img{
  width: 450px;
  height: 400px;
}
main .cost_calc .calc_container .calc_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 1279px){
  main .cost_calc .layout{
    width: 96%;
  }
  main .cost_calc .calc_container{
  grid-template-columns: 1fr;
}
  main .cost_calc .calc_container .calc_img,
  main .cost_calc .calc_container .calc_img img{
  display: none;
}
}


@media (max-width: 767px){
  main .cost_calc .layout{
    width: 96%;
  }
  main .cost_calc .calc_container{
  grid-template-columns: 1fr;
}
main .cost_calc .calc_container .calc_form span{
  text-align: center;
}
main .cost_calc .calc_container .calc_form h2{
  font-size: 26px;
  text-align: center;
}
  main .cost_calc .calc_container .calc_form p{
  display: none;
}
main .cost_calc .calc_container .calc_form .form_box{
  align-items: center;
}
main .cost_calc .calc_container .calc_form .form_box .form_row{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
main .cost_calc .calc_container .calc_img{
  display: none;
}
main .cost_calc .calc_container .calc_form textarea{
  padding: 5px;
  width: 100%;
  height: 80px;
}
}


main .contacts{
  background-color: #f1f3f8;
}
main .contacts .contacts_container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
}
main .contacts .contacts_container .contacts_title{
  margin: 50px 0 0 0;
}
main .contacts .contacts_container .contacts_title h2,
main .contacts .contacts_container .contacts_title a,
main .contacts .contacts_container .contacts_title address,
main .contacts .contacts_container .contacts_title time{
  font-family: "Montserrat", sans-serif;
  color: #301e67;
}
main .contacts .contacts_container .contacts_title h2{
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 40px 0;
}
main .contacts .contacts_container .contacts_title .ico_title{
  display: grid;
  grid-template-columns: repeat(2,4fr);
  justify-items: self-start;
  gap: 10px;
  width: 220px;
}
main .contacts .contacts_container .contacts_title .ico_title .ico_img{
  width: 20px;
  height: 20px;
}
main .contacts .contacts_container .contacts_title .ico_title .ico_img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
main .contacts .contacts_container .contacts_title a,
main .contacts .contacts_container .contacts_title time{
  font-size: 16px;
  font-weight: 400;
}
main .contacts .contacts_container .contacts_title a:hover{
  text-decoration: underline;
  color: #333399;
}
main .contacts .contacts_container .img_block{
  width: 600px;
  height: 300px;
}
main .contacts .contacts_container .img_block img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 1279px){
  main .contacts .layout{
    width: 100%;
  }
  main .contacts .contacts_container .img_block{
  width: 100%;
}
}

@media (max-width: 767px){
  main .contacts .contacts_container{
  grid-template-columns: 1fr;
}
main .contacts .contacts_container .contacts_title{
  margin: 20px 0 20px 0;
}
main .contacts .contacts_container .img_block{
  display: none;
}
main .contacts .contacts_container .contacts_title h2{
  font-size: 26px;
}
main .contacts .contacts_container .img_block{
  width: 100%;
  height: 300px;
}
}


footer{
  padding: 30px 0 20px 0;
}
footer .layout .footer_container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  margin: 0 0 30px 0;
}
footer .layout .footer_container .footer_title{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}
footer .layout .footer_container .footer_title .footer_logo{
  width: 140px;
  height: 70px;
}
footer .layout .footer_container .footer_title .footer_logo img{
  width: 100%;
  height: 100%;
}
footer .layout .footer_container .footer_title p{
  font-family: "Montserrat", sans-serif;
  color: #301e67;
  font-size: 16px;
  font-weight: 400;
}
footer .layout .footer_container .footer_nav{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .layout .footer_container .footer_nav h3{
  font-family: "Montserrat", sans-serif;
  color: #301e67;
  font-size: 16px;
  font-weight: 600;
}
footer .layout .footer_container .footer_nav ul li{
  margin: 0 0 10px 0;
}
footer .layout .footer_container .footer_nav ul li a{
  font-family: "Montserrat", sans-serif;
  color: #301e67;
  font-size: 16px;
  font-weight: 400;
}
footer .layout .footer_container .footer_nav ul li a:hover{
  text-decoration: underline;
  color: #333399;
}
footer .layout .footer_container .footer_contacts{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .layout .footer_container .footer_contacts h3{
  font-family: "Montserrat", sans-serif;
  color: #301e67;
  font-size: 16px;
  font-weight: 600;
}
footer .layout .footer_container .footer_contacts a,
footer .layout .footer_container .footer_contacts p,
footer .layout .footer_container .footer_contacts address,
footer .layout .footer_container .footer_contacts time{
  font-family: "Montserrat", sans-serif;
  color: #301e67;
  font-size: 16px;
  font-weight: 400;
}
footer .layout .footer_container .footer_contacts p{
  font-weight: 600;
}
footer .layout .footer_container .footer_contacts a:hover{
  text-decoration: underline;
  color: #333399;
}
footer .layout small{
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #301e67;
  border-top: 1px solid #301e67;
  padding: 20px 0 0 0;
}

@media (max-width: 1279px){
  footer .layout{
    width: 96%;
  }
}

@media (max-width: 767px){
  footer .layout{
    width: 96%;
  }
  footer .layout .footer_container{
  grid-template-columns: 1fr;
  gap: 30px;
}
  footer .layout .footer_container .footer_nav,
  footer .layout .footer_container .footer_contacts{
    display: flex;
  }
}







