/***************************************************              GENERAL RESET STYLES             ***************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
* {box-sizing: border-box;}
body {line-height:1;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {list-style:none;}
ol, ul {
	list-style: none;
	margin:0;
	padding:0;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
		text-decoration:none;
}
a:hover {text-decoration:none;}
table {
    border-collapse:collapse;
    border-spacing:0;
}
img {
	border-style:none;
	max-width:100%;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
input, textarea, select {
	vertical-align:middle;
	color:#000;
	padding:0;
}
input, select {vertical-align:middle;}
input::-webkit-input-placeholder{color:#000;}
input:focus::-webkit-input-placeholder{color:#000;}
/*
@media (min-width: 1921px){}
@media (width: 1920px){}
@media (min-width: 1440px) and (max-width: 1919px) {}
@media (min-width: 1360px) and (max-width: 1439px) {}
@media (min-width: 1280px) and (max-width: 1359px) {}
@media (min-width: 1024px) and (max-width: 1279px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 375px) and (max-width: 767px) {}
@media (min-width: 320px) and (max-width: 374px) {}
*/
/*
@media (max-width: 1919px) {}
@media (max-width: 1439px) {}
@media (max-width: 1279px) {}
@media (max-width: 767px) {}
*/
#wrapper {
	display:block;
	position:relative;
	width:100%;
	height:100%;
}
.layout {
  display: block;
  position:relative;
  overflow: hidden;
  max-width:1400px;
  width: 100%;
	margin:0 auto 0 auto;
}
header,
main,
footer,
section {
  display: block;
  position:relative;
  overflow: hidden;
  width: 100%;
}
#content {
  display: block;
  position:relative;
  overflow: hidden;
  width: 100%;
}




header{
  width: 100%;
  margin: 20px 0 20px 0;
}
header .layout{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .layout .logo{
  width: 140px;
  height: 70px;
}
header .layout .logo a{}
header .layout .logo a img{
  width: 100%;
  height: 100%;
}
header .layout .logo h1{
  text-indent: -9999px;
}
header .layout nav{}
header .layout nav ul{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
header .layout nav ul li a,
header .layout  .tel_button a{
  font-family: 'Courier New', Courier, monospace;
  color: #301e67;
  font-size: 18px;
  font-weight: 500;
}
header .layout nav ul li a:hover,
header .layout  .tel_button a:hover{
  text-decoration: underline;
  color: #333399;
}
header .layout  .tel_button{
  display: flex;
  gap: 50px;
}

@media (max-width: 767px) {
  header{
  height: 200px;
}
  header .layout{
    max-width: 350px;
  flex-direction: column;
  gap: 15px;
}
header .layout .logo{
  width: 120px;
  height: 60px;
}
header .layout nav ul{
  gap: 10px;
}
header .layout  .tel_button{
  flex-direction: column;
  gap: 10px;
}
}


main .first-view{}
main .first-view .layout .baner{
  width: 960px;
  height: 300px;
}
main .first-view  .layout .baner img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: .3;
  position: absolute;
}
main .first-view .layout .text{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  position: relative;
  bottom: 200px;
}
main .first-view .layout .text h2,
main .first-view .layout .text h3,
main .first-view .layout .text .btn a{
  font-family: 'Courier New', Courier, monospace;
  color: #301e67;
}
main .first-view .layout .text h2{
  font-size: 36px;
  font-weight: 700;
}
main .first-view .layout .text h3{
   font-size: 26px;
   font-weight: 600;
   width: 800px;
   text-align: center;
}
main .first-view .layout .text .btn{
  display: flex;
  gap: 100px;
}
main .first-view .layout .text .btn a{
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  width: 300px;
  height: 50px;
  background-color: #DAEAFF;
  line-height: 50px;
  text-align: center;
  border-radius: 8px;
  transition: .3s;
}
main .first-view .layout .text .btn a:hover{
  box-shadow: 0 10px 8px rgba(9, 24, 245, 0.2);
  transform: translateY(-8px);
}

@media (max-width: 767px){
main .first-view .layout{
  max-width: 350px;
  width: 100%;
}
main .first-view .layout .baner{
  height: 200px;
}
main .first-view .layout .text{
  gap: 50px;
  bottom: 100px;
}
main .first-view .layout .text h2{
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}
main .first-view .layout .text h3{
   font-size: 20px;
   width: 100%;
}
main .first-view .layout .text .btn{
  flex-direction: column;
  gap: 20px;
}
main .first-view .layout .text .btn a{
  font-size: 18px;
}

}



main .catalog{
  padding: 50px 0 50px 0;
}
main .catalog .layout{
  width: 100%;
}
main .catalog .layout h2,
main .catalog .layout h3,
main .catalog .layout .catalog_box .catalog_card h4,
main .catalog .layout .catalog_box .catalog_card p,
main .catalog .layout .catalog_box .catalog_card span,
main .catalog .layout .catalog_box .catalog_card a{
  font-family: 'Courier New', Courier, monospace;
  color: #301e67;
  text-align: center;
}
main .catalog .layout h2{
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 30px 0;
}
main .catalog .layout h3{
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 50px 0;
}
main .catalog .layout .catalog_box{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
}
main .catalog .layout .catalog_box .catalog_card{
  max-width: 300px;
  width: 100%;
  box-shadow: 0 0 10px rgba(9, 24, 245, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px 10px 15px 10px;
  margin: 0 0 15px 0;
}
main .catalog .layout .catalog_box .catalog_card h4{
  font-size: 18px;
  font-weight: 600;
}
main .catalog .layout .catalog_box .catalog_card p,
main .catalog .layout .catalog_box .catalog_card a{
  font-size: 16px;
  font-weight: 400;
}
main .catalog .layout .catalog_box .catalog_card span{
  font-size: 16px;
  font-weight: 600;
}
main .catalog .layout .catalog_box .catalog_card a{
  width: 150px;
  height: 30px;
  background-color: #DAEAFF;
  line-height: 30px;
  text-align: center;
  border-radius: 8px;
  margin: 10px 0 0 0;
  transition: .3s;
}
main .catalog .layout .catalog_box .catalog_card a:hover{
  box-shadow: 0 10px 8px rgba(9, 24, 245, 0.2);
  transform: translateY(-8px);
}

@media (max-width: 1279px){
  main .catalog .layout .catalog_box{
  grid-template-columns: repeat(2,2fr);
  gap: 15px;

}
}

@media (max-width: 767px){
  main .catalog .layout h2{
  font-size: 28px;
  margin: 0 0 20px 0;
}
main .catalog .layout h3{
  font-size: 18px;
  margin: 0 0 40px 0;
}
main .catalog .layout .catalog_box{
  grid-template-columns: 1fr;
  gap: 15px;
}
}


main .advantages{
  padding: 40px 0 40px 0;
}
main .advantages h2,
main .advantages h3,
main .advantages p{
  font-family: 'Courier New', Courier, monospace;
  color: #301e67;
  text-align: center;
}
main .advantages h2{
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 20px 0;
}
main .advantages h3{
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 40px 0;
}
main .advantages p{
  font-size: 22px;
  font-weight: 600;
  text-decoration: underline;
  margin: 0 0 40px 0;
}
main .advantages .advantages_container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
}
main .advantages .advantages_container .advantages_block{
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 280px;
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(9, 24, 245, 0.2);
  border-radius: 0 10px 0 10px;
  margin: 0 0 10px 0;
}
main .advantages .advantages_container .advantages_block span{
  font-weight: 600;
  margin: 0 15px 0 0;
}
main .advantages .advantages_container .advantages_block h3{
  font-weight: 500;
  margin: 0 0 20px 0;
}

main .advantages .advantages_container .advantages_block p{
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  text-align: start;
  margin: 0 0 0 0;
}

@media (max-width: 1279px){
  main .advantages .advantages_container{
  grid-template-columns: repeat(2,2fr);
  gap: 15px;
}
}

@media (max-width: 767px){
    main .advantages h2{
  font-size: 28px;
  margin: 0 0 20px 0;
}
main .advantages h3{
  font-size: 18px;
  margin: 0 0 40px 0;
}
main .advantages .advantages_container{
  grid-template-columns: 1fr;
  gap: 15px;
}
}


main .how_it_works{
  padding: 40px 0 40px 0;
}
main .how_it_works h2,
main .how_it_works h3,
main .how_it_works p{
  font-family: 'Courier New', Courier, monospace;
  color: #301e67;
  text-align: center;
}
main .how_it_works h2{
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 50px 0;
}
main .how_it_works .how_it_works_container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
}
main .how_it_works .how_it_works_container .how_it_works_block{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(9, 24, 245, 0.2);
  border-radius: 30px;
  padding: 20px 20px 0 20px;
  margin: 0 0 15px 0;
  max-width: 200px;
  width: 100%;
  min-height: 180px;
  position: relative;
}
main .how_it_works .how_it_works_container .how_it_works_block::before{
  content: "\27AF";
  font-size: 30px;
  position: absolute;
  left: 130%;
  top: 40%;
  color: #301e67;
}
main .how_it_works .how_it_works_container .how_it_works_block:last-child::before{
  content: "";
}
main .how_it_works .how_it_works_container .how_it_works_block h3{
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 20px 0;
  border-bottom: 2px solid #FFCC00;
}
main .how_it_works .how_it_works_container .how_it_works_block h3 span{
  padding: 0 10px 0 0;
  text-decoration: none;
  font-size: 24px;
}
main .how_it_works .how_it_works_container .how_it_works_block p{
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 40px 0;
}

@media (max-width: 1279px){
  main .how_it_works .how_it_works_container{
  grid-template-columns: repeat(2,2fr);
  gap: 25px;
  margin: 0 0 15px 0;
}
main .how_it_works .how_it_works_container .how_it_works_block{
  max-width: 400px;
}
main .how_it_works .how_it_works_container .how_it_works_block::before{
  left: 120%;
}
}

@media (max-width: 767px){
    main .how_it_works h2{
  font-size: 28px;
  margin: 0 0 40px 0;
}
main .how_it_works h3{
  font-size: 18px;
  margin: 0 0 40px 0;
}
main .how_it_works .how_it_works_container{
  grid-template-columns: 1fr;
  gap: 60px;
}
main .how_it_works .how_it_works_container .how_it_works_block{
  max-width: 300px;
}
main .how_it_works .how_it_works_container .how_it_works_block::before{
  transform: rotate(90deg);
  top: 110%;
  left: 45%;
}
}


main .about_the_company{
  padding: 40px 0 40px 0;
}
main .about_the_company .about_container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
  grid-template-areas: "text image";
}
main .about_the_company .about_container .about_img{
  width: 400px;
  height: 500px;
  grid-area: image;
}
main .about_the_company .about_container .about_img img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .about_the_company h2,
main .about_the_company h3,
main .about_the_company p{
  font-family: 'Courier New', Courier, monospace;
  color: #301e67;
}
main .about_the_company .about_container .about_title{
  grid-area: text;
}
main .about_the_company h2{
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 50px 0;
}
main .about_the_company .about_container .about_title p{
  font-size: 20px;
  font-weight: 500; 
  margin: 0 0 60px 0;
}
main .about_the_company .about_container .about_title .title_container{
  display: grid;
  grid-template-columns: repeat(2,2fr);
  justify-items: center;
  gap: 30px;
}
main .about_the_company .about_container .about_title .title_container p{ 
  font-size: 16px;
  text-align: center;
}
main .about_the_company .about_container .about_title .title_container span{
  display: block;
  font-size: 26px;
  font-weight: 600;
}

@media (max-width: 767px){
  main .about_the_company .about_container{
  display: block;
}
main .about_the_company .about_container .about_img{
  width: 250px;
  height: 350px;
  margin: 0 0 15px 0;
}
main .about_the_company .about_container .about_title{
  max-width: 300px;
  width: 100%;
}
main .about_the_company h2{
  font-size: 28px;
  margin: 0 0 20px 0;
  text-align: center;
}
main .about_the_company .about_container .about_title p{
  font-size: 18px;
  font-weight: 500; 
  margin: 0 0 40px 0;
  text-align: center;
}
}


main .cost_calc{
  margin: 30px 0 30px 0;
}
main .cost_calc .calc_container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
  gap: 30px;
}
main .cost_calc .calc_container .calc_text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 400px;
  width: 100%;
}
main .cost_calc .calc_container .calc_text h2,
main .cost_calc .calc_container .calc_text p,
main .cost_calc .calc_container .calc_form form label,
main .cost_calc .calc_container .calc_form form input,
main .cost_calc .calc_container .calc_form select:optional,
main .cost_calc .calc_container .calc_form form textarea,
main .cost_calc .calc_container .calc_form form button{
  font-family: 'Courier New', Courier, monospace;
  color: #301e67;
}
main .cost_calc .calc_container .calc_text h2{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
main .cost_calc .calc_container .calc_text p{
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
main .cost_calc .calc_container .calc_form{
  padding: 0 30px 0 30px;
  margin: 0 0 10px 0;
}
main .cost_calc .calc_container .calc_form form{
  display: grid;
  grid-template-columns: repeat(2,6fr);
  gap: 10px;
}
main .cost_calc .calc_container .calc_form form label{
  font-size: 18px;
  font-weight: 500;
}
main .cost_calc .calc_container .calc_form input,
main .cost_calc .calc_container .calc_form select,
main .cost_calc .calc_container .calc_form textarea{
  font-size: 16px;
  font-weight: 400;
  padding: 3px;
  border: 1px solid #301e67;
  border-radius: 8px;
}
main .cost_calc .calc_container .calc_form select{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 18px;
}
main .cost_calc .calc_container .calc_form textarea{
  padding: 5px;
}
main .cost_calc .calc_container .calc_form textarea:placeholder-shown{
  font-size: 14px;
  font-weight: 400;
}
main .cost_calc .calc_container .calc_form button{
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  width: 300px;
  height: 35px;
  background-color: #DAEAFF;
  line-height: 35px;
  text-align: center;
  border: 1px solid #DAEAFF;
  border-radius: 8px;
  margin: 50px 0 0 0;
  transition: .3s;
}
main .cost_calc .calc_container .calc_form button:hover{
  box-shadow: 0 10px 8px rgba(9, 24, 245, 0.2);
  transform: translateY(-8px);
}

@media (max-width: 767px){
main .cost_calc .calc_container{
  grid-template-columns: 1fr;
  justify-items: center;
}
  main .cost_calc .calc_container .calc_text h2{
  font-size: 28px;
  text-align: center;
}
main .cost_calc .calc_container .calc_text p{
  font-size: 18px;
  font-weight: 500; 
  margin: 0 0 20px 0;
}
main .cost_calc .calc_container .calc_form form{
  grid-template-columns: 1fr;
}
main .cost_calc .calc_container .calc_form button{
  margin: 0 0 0 0;
}
main .cost_calc .calc_container .calc_form form label{
  font-size: 16px;
}
main .cost_calc .calc_container .calc_form input,
main .cost_calc .calc_container .calc_form select,
main .cost_calc .calc_container .calc_form textarea{
  font-size: 14px;
  margin: 0 0 20px 0;
}
}


main .contacts{
  margin: 60px 0 40px 0;
}
main .contacts .layout{
  width: 100%;
}
main .contacts .contacts_container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
}
main .contacts .contacts_container .contacts_title{
  margin: 50px 0 0 0;
}
main .contacts .contacts_container .contacts_title h2,
main .contacts .contacts_container .contacts_title p,
main .contacts .contacts_container .contacts_title a,
main .contacts .contacts_container .contacts_title time{
  font-family: 'Courier New', Courier, monospace;
  color: #301e67;
}
main .contacts .contacts_container .contacts_title h2{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 0 0 60px 0;
}
main .contacts .contacts_container .contacts_title p{
  font-size: 20px;
  font-weight: 500; 
  text-decoration: underline #FFCC00;
  margin: 0 0 10px 0;
}
main .contacts .contacts_container .contacts_title a,
main .contacts .contacts_container .contacts_title time{
  display: inline-block;
    margin: 0 0 10px 0;
    padding: 0 0 0 15px;
    font-size: 18px;
    font-weight: 500;
}
main .contacts .contacts_container .contacts_title a:hover{
  text-decoration: underline;
  color: #333399;
}
main .contacts .contacts_container .contacts_img{
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 20px;
}
main .contacts .contacts_container .contacts_img .img_block{
  width: 400px;
  height: 300px;
}
main .contacts .contacts_container .contacts_img .img_block img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .contacts .contacts_container .contacts_img .img_block img.img_1{
  border-radius: 30px 0 0 30px;
}
main .contacts .contacts_container .contacts_img .img_block img.img_2{
  border-radius: 0 30px 30px 0;
}
main .contacts .contacts_container .contacts_img .img_block img.img_3{
  border-radius: 30px 30px 0 0;
}

@media (max-width: 767px){
  main .contacts .layout{
  width: 96%;
}
main .contacts .contacts_container{
  grid-template-columns: 1fr;  
  justify-items: center;
}
main .contacts .contacts_container .contacts_title h2{
  font-size: 28px;
  text-align: center;
}
main .contacts .contacts_container .contacts_title p{
  font-size: 18px;
  font-weight: 500; 
  margin: 0 0 20px 0;
}
main .contacts .contacts_container .contacts_title a,
main .contacts .contacts_container .contacts_title time{
    font-size: 16px;
}
main .contacts .contacts_container .contacts_title{
  margin: 50px 0 30px 0;
}
main .contacts .contacts_container .contacts_img{
  flex-direction: column;
  align-items: center;
  width: 100%;
}
main .contacts .contacts_container .contacts_img .img_block{
  width: 300px;
  height: 220px;
}
main .contacts .contacts_container .contacts_img .img_block img.img_1,
main .contacts .contacts_container .contacts_img .img_block img.img_2,
main .contacts .contacts_container .contacts_img .img_block img.img_3{
  border-radius: 30px;
}
}




